src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="507bd2a6-ca5b-4da8-8b02-e6fc4a5432b4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="038650d0-5c3f-425a-8648-8ab8d585c57c" >
		<http:listener doc:name="Listener" doc:id="8484c58f-90f7-49c6-a12c-369fdf204fcb" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#['hello world']" doc:name="Set Payload" doc:id="020cc804-1a80-4a24-992d-b1570c57df11" />
	</flow>
</mule>
